.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #009ee4;
}

.modal {
  width: 366px;
  border-radius: 12px;
  background: #fff;
  padding: 47px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  box-sizing: border-box;
}

.inputs {
  margin-top: 42px;
  margin-bottom: 60px;
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
}

.buttons {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.buttons,
.inputs {
  width: 100%;
  align-items: center;
}

@media (max-width: 376px) {
  .wrapper {
    background-color: #fff;
    flex-flow: column nowrap;
    justify-content: flex-start;
    min-height: 100dvh;
  }

  .modal {
    width: 100%;
    padding: 40px 20px 0px 20px;
  }

  .inputs {
    gap: 14px;
  }
}
