.seller {
  padding-bottom: 79px;
}

.seller_filter {
  filter: blur(5px);
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
}

.content {
  margin-top: 45px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.info {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 70px;
}

.info_wrapper {
  display: flex;
  gap: 50px;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #f0f0f0;
}

.left {
  width: 170px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: flex-start;
}

.right_container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.person {
  color: #000;
  font-family: "RobotoMedium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}

.header {
  color: #000;
  font-family: "RobotoMedium";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 220%;
  margin-bottom: 20px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: inherit;
  row-gap: 40px;
}

.no_ads {
  color: #000;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: left;
}

.back {
  stroke: #000;
  position: absolute;
  left: 0px;
}

.content_top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

@media (max-width: 376px) {
  .seller {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100dvh;
    padding-bottom: 0;
  }

  .wrapper {
    flex-flow: column nowrap;
    margin-bottom: 30px;
  }

  .info {
    width: 100%;
  }

  .info_wrapper {
    flex-flow: column nowrap;
    width: 100%;
    margin-top: 30px;
    gap: 30px;
  }

  .content {
    margin-top: 30px;
  }

  .left {
    align-items: center;
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .avatar {
    width: 132px;
    height: 132px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 0;
  }

  .no_ads {
    font-size: 14px;
    line-height: 120%;
    grid-column: span 2;
  }

  .header {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 100%;
  }

  .person {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 6px;
  }
}
