.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
  align-items: flex-start;
}

.label {
  color: #000;
  font-family: "RobotoMedium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.input {
  border-radius: 6px;
  border: 1px solid rgb(0 0 0 / 20%);
  background: #fff;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-left: 20px;
  box-sizing: border-box;
}

.input[type="text"] {
  height: 50px;
}

.input[type="textarea"] {
  height: 200px;
}

.input::placeholder {
  color: rgb(0 0 0 / 30%);
  font-family: "RobotoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.input:focus {
  outline: 0;
  border: 1px solid #009ee4;
}
