.profile {
  padding-bottom: 79px;
}

.profile_filter {
  filter: blur(5px);
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
}

.content {
  margin-top: 45px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.header {
  color: #000;
  font-family: "RobotoMedium";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 220%;
  margin-bottom: 20px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: inherit;
  row-gap: 40px;
}

.settings {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 70px;
}

.settings_wrapper {
  display: flex;
  gap: 50px;
}

.avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #f0f0f0;
}

.left {
  width: 170px;
  display: flex;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
}

.upload_file {
  cursor: pointer;
  color: #009ee4;
  font-family: "RobotoRegular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: flex-start;
}

.inputs {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.right_container {
  display: flex;
  gap: 14px;
}
