.wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 60px;
  margin-top: 40px;
}

.right {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 10px;
}
