.modal {
  width: 450px;
  padding: 20px 50px 42px 50px;
  box-sizing: border-box;
  border-radius: 12px;
  background: #fff;
  border: 2px solid #009ee4;
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  margin: auto;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header {
  color: #000;
  font-family: "RobotoMedium";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 220%;
  order: 0;
}

.cross {
  stroke: #d9d9d9;
  order: 1;
}

.cross:hover {
  stroke: #009ee4;
  cursor: pointer;
}

@media (max-width: 376px) {
  .modal {
    width: 100%;
    top: 55px;
    height: calc(100dvh - 109px);
    padding: 18px 20px 18px 20px;
    border: none;
  }

  .header {
    font-size: 24px;
    line-height: 120%;
    order: 1;
  }

  .top {
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .back {
    position: absolute;
    left: 0;
    stroke: #000;
  }
}
