:global(*) {
  padding: 0;
  margin: 0;
}

:global(.center) {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

@media (max-width: 376px) {
  :global(.center) {
    padding-left: 18px;
    padding-right: 18px;
  }
}

:global(button) {
  cursor: pointer;
}
